<div class="span-8 append-1">
    <h2> User Information </h2>
    
    <%= (@profile.firstname.empty? && @profile.lastname.empty?) ? "" : "#{fname(@profile)} <br>"%>
    <%= @profile.institution.empty? ? "" : "#{@profile.institution} <br>"%>
    <%= @profile.address.empty? ? "" : "#{@profile.address} <br>"%>
    <%= @profile.phone.empty? ? "" : "#{@profile.phone} <br>"%>
    <%= @profile.email.empty? ? "" : "#{@profile.email} <br>"%>

    <%if updatable(@profile)%>
    <p>
        <br>
      <%= link_to "Edit", edit_profile_path(@profile) %>
    </p>
    <%end%>
</div>

<%if updatable(@profile)%>
    <div class="span-10 append-1 last">
        <h2> Account Information</h2>
        <div class="span-4">
            Username: <br>
            Registered E-mail:<br>
            Password:
        </div>
        <div class="span-6 last">
            <%=@profile.user.login%> <br>
            <%=@profile.user.email%> <br>
            Hidden
        </div>
        <br><br><br><br>
        
        <%=link_to "Edit", edit_user_path(@profile.user)%> <br>
    </div>
<%end%>
    
