<h2> User Information </h2>


<%=h @profile.name %>
<br>
<%=h @profile.institution %>
<br>
<%=h @profile.address %>
<br>
<%=h @profile.phone %>
<br>
<%=h @profile.email %>
<br>

<%if updatable(@profile)%>
<p>
    <br>
  <%= link_to "Edit", edit_profile_path(@profile) %>
</p>
<%end%>
