<h2> Invite Users </h2>

<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user, :header_message => " ", :message => "We had some problems creating your account:" %>

<%= form_for :user, :url => {:action => 'send_invite'} do |f| -%>

    <p><%= label_tag 'email' %>(This will also be their user name. Required.)<br/>
    <%= f.text_field :email %></p>
    <b>The following information is optional:</b><br><br>
    <div class="span-5">
      <p>
        <%= label_tag "First Name" %><br />
        <%= text_field :profile, :firstname %>
      </p>
     </div>
     <div class="span-5 append-12 last">
         <p>
           <%= label_tag "Last Name" %><br />
           <%= text_field :profile,  :lastname %>
         </p>
     </div>
      <p>
        <%= label_tag :address %><br />
        <%= text_area :profile, :address, :cols => "45", :rows => "6" %>
      </p>
      <p>
        <%= label_tag "Institution/Program" %><br />
        <%= text_field :profile, :institution, :class => "big" %>
      </p>
      <p>
        <%= label_tag "Phone Number" %><br />
        <%= text_field :profile, :phone %>
      </p>

    <p><%= submit_tag 'Submit' %></p>
    
<% end -%>