
<%= javascript_include_tag 'sortable_list', 'jquery-ui'%>

<h3> Manage Resources </h3>

<%= link_to "Add Header", "#", :class => 'add_header_link'%>

<div id="add_header_form">
    <%= render 'resource_header_form'%>
</div>
<br><br>
<ul id="header-list">
    <% @headers.each do |h|%>
      <li id="header_<%= h.id -%>">
        <div class="resource-header" style="display:inline;"><%= image_tag("/images/icons/cog.png")%></div>
            <%=link_to "[x]", admin_delete_header_path(:id => h.id), :class => h.id%>
            <%= link_to "[-]", admin_edit_resource_header_path(:id => h.id)%>
            <b><%= h.description%></b><br><br>

        <div class="resource-body">
            <% resources = Resource.find_all_by_resource_header_id(h.id, :order => 'position ASC')%>
            <% if !resources.empty?%>
                <ul class="resource-list">
                <%resources.each do |r|%>
                    <li id="resource_<%= r.id -%>">
                    <div class="resource-handle" style="display:inline;"><%= image_tag("/images/icons/cog.png")%></div>
                    <%= link_to "[x]", resource_path(r), :confirm => 'Are you sure?', :method => :delete%>
                    <%= link_to "[-]", edit_resource_path(r)%>
                    <% if r.url.nil? || r.url.blank?%>
                        <%= image_tag("/images/icons/disk.png")%>
                        <%= link_to r.description, r.document.url, :target => '_blank'%>
                    <%else%>
                        <%= image_tag("/images/icons/world.png")%>
                        <%= link_to r.description, r.url, :target => '_blank'%>
                    <%end%>
                    <%if !r.subtext.nil? && !r.subtext.blank?%>
                        <br><span class="smaller subtext"><%=r.subtext%></span>
                    <%end%>
                    
                    </li>
                <%end%>
                </ul>
                
            <%end%>
            
            <%= link_to "+ Add Resource", "#", :class => 'add_resource_link', :number => h.id%>
            <div id="add_resource_form_<%=h.id%>" class="add_resource_form">
                <br>
                <%= render :partial => 'resources/new_form', :locals => {:header_id => h.id}%>
            </div>
            <br><br>
        </div>
      </li>
    <% end %>
</ul>
