<%=javascript_include_tag "sortable_list", "jquery-ui"%>
<div class="span-21">
    <%= spaces(14)%><%= link_to "New Project", new_project_path %><br><br>
    <ul id="project-list">
        <% @projects.each do |p| %>
          <li id="project_<%= p.id -%>">
            <div class="admin-project-header">
            </div>
            <div class="admin-project-body">
                <div class="right">
                <%=link_to image_tag("../images/icons/edit.gif"), edit_project_path(p)%>
                <%=spaces(5)%> <%=link_to image_tag("../images/icons/delete.gif"), project_path(p), 
                                :confirm => 'Are you sure?', :method => :delete%>
                </div>
                    
                <%= render :partial => 'projects/project_info', :locals => {:p => p}%>
                <br>
            </div>
          </li>
        <% end %>
    </ul>
</div>