<%=javascript_include_tag "sortable_list", "jquery-ui"%>
<div class="span-21">
    <ul id="project-list">
        <% @projects.each do |p| %>
          <li id="project_<%= p.id -%>">
            <div class="admin-project-header">
            </div>
            <div class="admin-project-body">
                <div class="right">
                <%=link_to image_tag("../images/icons/edit.gif"), edit_project_path(p)%>
                <%=spaces(5)%> <%=link_to image_tag("../images/icons/delete.gif"), project_path(p), 
                                :confirm => 'Are you sure?', :method => :delete%>
                </div>
                    
                <h3><%=link_to p.name, project_path(p) -%></h3>
                <%= p.info%>
                <br><br><hr>
                Contact information:<br>
                <%= p.contact_name%><br>
                <%= p.contact_number%><br>
                <%= p.contact_email%><br><br>
                Users in Project: <%=p.users.count%>
            </div>
          </li>
        <% end %>
    </ul>
</div>