<%=javascript_include_tag "jquery", "application"%>
<%if logged_in? && current_user.profile.nil?%>
    Please take a minute to fill out your user information. This information will not be available to outside users and
    will only be used internally.<br><br>
    
    <%= render "profiles/form", :p => Profile.new%>
<%end%>
<% if logged_in? && current_user.admin?%>
    <%= link_to "Add New Post", new_article_path %>
    <br><br>
<%end%>
<% @articles.each do |a|%>
    <div class="news_title"><%= a.title %></div>
    <i><%=nice_date(a.created_at)%> | <%=a.user.profile.name%></i>
        <%if logged_in? && current_user.admin?%>
            <%=spaces(5)%> <%=link_to image_tag("../images/icons/edit.gif"), edit_article_path(a)%>
            <%=spaces(5)%> <%=link_to image_tag("../images/icons/delete.gif"), article_path(a), 
                            :confirm => 'Are you sure?', :method => :delete%>
        <%end%>
        <br>
    <p><%= a.body%></p>
    <hr width="10">
<%end%>