<%= error_messages_for :project %>
<% form_for @project do |f| %>
  <p>
    <b>Project Name</b><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <b>Summary</b><br />
    <%= f.text_area :info, :cols => 70, :rows => 12 %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
