<%= javascript_include_tag 'fckeditor/fckeditor' %>
<%= error_messages_for :project %>
<% form_for @project do |f| %>
  <p>
    <b>Project Name</b><br />
    <%= f.text_field :name, :style => "width: 400px;" %>
  </p>
  <div class="text_editor">
        <div id="<%= fckeditor_div_id('project', 'info') %>">
            <%= fckeditor_textarea( "project", "info", :width => 600, :height => 350, :toolbarSet => "Project" ) %><br /><br />
        </div>
    </div>
    <%= f.label :website %><br />
    <%= f.text_field :website, :style => "width: 400px;" %><br />
    
    <%= f.label :goal_header_id, 'Goal' %><br />
     <%= f.select :goal_header_id, GoalHeader.all.map {|p| [p.description, p.id]}, :prompt => 'Select...', :include_blank => true %>
  </p>
  <br /><br />
  <p><%= f.submit "Submit" %></p>
<% end %>
