<%= p.info%>
 <% if !p.contacts.empty?%>
     <br><br><hr>
     Contact information:<br><br>
 <%end%>
 <% p.contacts.each_with_index do |contact, index|%>
     <%if ((index + 1) < p.contacts.size) && ((index + 1) % 3 != 0)%>
         <div class="span-5 append-1">
     <%else%>
         <div class="nothing">
     <%end%>
     <%= contact.name.empty? ? "" : "#{contact.name} <br>"%>
     <%= contact.title.empty? ? "" : "#{contact.title} <br>"%>
     <%= contact.email.empty? ? "" : "#{contact.email} <br>"%>
     <%= contact.phone.empty? ? "" : "#{contact.phone} <br>"%>
     <%= contact.address.empty? ? "" : "#{line_break(contact.address)} <br>"%>
     </div>   
 <%end%>
<br>