<%= raw p.info%>
<% if !p.website.nil? && !p.website.blank?%>
    <br><br>
    Official Website: <%= link_to p.website, p.website%><br>
<%end%>

 <% if !p.contacts.empty?%>
     <br><br><hr>
     Contact information:<br><br>
 <%end%>
 <% p.contacts.each_with_index do |contact, index|%>
     <%if ((index + 1) < p.contacts.size) && ((index + 1) % 3 != 0)%>
        <%if p.contacts.size > 3 %>
          <div class="contact_float">
        <%else%>
          <div class="span-5 append-1">
        <%end%>
     <%else%>
        <%if p.contacts.size > 3 %>
          <div class="contact">
        <%else%>
          <div class="nothing">
        <%end%>
     <%end%>
     <%= raw contact.name.empty? ? "" : "<b>#{contact.name} </b><br>"%>
     <i><%= raw contact.title.empty? ? "" : "#{contact.title} <br>"%></i>
     <%= raw contact.email.empty? ? "" : "#{contact.email} <br>"%>
     <%= raw contact.phone.empty? ? "" : "#{contact.phone} <br>"%>
     <%= raw contact.address.empty? ? "" : "#{line_break(contact.address)} <br>"%>
     </div>   
 <%end%>
<br>
