<h3 class="inline"><%=@project.name%></h3>
<%if (current_user.projects.size > 1) && (@project.id != current_user.default_project)%>
  <%= link_to "Set as Default", {:action => :set_default_project, :project_id => @project}, :class => 'tiny-button'%>
<%end%>
<br><br>

<div id="project_tabs">
    <ul>
        <li <% if @project_tab=="home"%> class="selected" <%end%> 
        onclick="location.href='<%=project_path(@project)%>';">
            <div class="left-tab-border">&nbsp;</div>
            <div class="tab-content"><%= link_to 'Home', project_path(@project)%></div>
            <div class="right-tab-border">&nbsp;</div>
        </li>
        <li <% if @project_tab=="information"%> class="selected" <%end%> 
        onclick="location.href='<%=information_project_path(@project)%>';">
            <div class="left-tab-border">&nbsp;</div>
            <div class="tab-content"><%= link_to 'Information', information_project_path(@project)%></div>
            <div class="right-tab-border">&nbsp;</div>
        </li>
        <%if !@project.active_surveys.empty?%>
            <li <% if @project_tab=="current_survey"%> class="selected" <%end%> 
            onclick="location.href='<%=current_survey_project_path(@project)%>';">
                <div class="left-tab-border">&nbsp;</div>
                <div class="tab-content"><%=link_to 'Current Survey', current_survey_project_path(@project)%></div>
                <div class="right-tab-border">&nbsp;</div>
            </li>
        <%end%>
        <li <% if @project_tab=="past_surveys"%> class="selected" <%end%> 
        onclick="location.href='<%=past_surveys_project_path(@project)%>';">
            <div class="left-tab-border">&nbsp;</div>
            <div class="tab-content"><%= link_to "Past Surveys", past_surveys_project_path(@project)%></div>
            <div class="right-tab-border">&nbsp;</div>
        </li>
        <% if current_user.projects.size > 1 || current_user.admin?%>
            <li <% if @project_tab=="other_projects"%> class="selected" <%end%> 
            onclick="location.href='<%=other_projects_project_path(@project)%>';">
                <div class="left-tab-border">&nbsp;</div>
                <div class="tab-content"><%= link_to "My Other Projects", other_projects_project_path(@project)%></div>
                <div class="right-tab-border">&nbsp;</div>
            </li>
        <%end%>
    </ul>
</div>