<div class="news_title">Projects in SPDG Kansas </div> <br><br>

<div class="span-20">
    <%@projects.each do |p|%>
        <div id="project_box">
            <div id="project_header">
                <b><%= link_to p.name, p.website, :target => "new"%></b>
            </div>
            <div id="project_body">
                <br>
                <%= p.info%>
                <br><br><hr>
                Contact information:<br>
                <%= p.contact_name%><br>
                <%= p.contact_number%><br>
                <%= p.contact_email%><br><br>
            </div>
        </div>    
        <br>
    <%end%>
    
    
</div>
