<div class="news_title">Projects in SPDG Kansas </div> <br><br>

<%@projects.each do |p|%>
    <b><%= link_to p.name, p.website, :target => "new"%></b>
    <br><br>
    <%= p.info%>
    <br><br>
    Contact information:<br>
    <%= p.contact_name%><br>
    <%= p.contact_number%><br>
    <%= p.contact_email%><br><br>
    <hr><br><br>
    
<%end%>
