<%= render "tabs"%>

<div class="span-20 my_project_body">
    Thank you for submitting your answers. The survey has been updated and you can continue to make changes to it through
    <%= nice_date(@survey.ends_on)%>.<br><br>
    
    Your survey is currently <b><%=@survey.completion%>%</b> complete.<br><br>
    <%=link_to "Go Back To Survey", current_survey_project_path(@project, :survey_id => @survey.id)%>
    <%= spaces(2)%> <%= link_to "Project Home", project_path(@survey.project)%>
</div>
