<% if s.completion < 100 %>
     <div class="completion_bar">
         <div class="incomplete" style="width:<%=(s.completion.to_i * 2)%>px"><%=spaces(2)%><%= s.completion%>% </div>
     </div>
 <%else%>
     <div class="completion_bar">
         <div class="complete" style="width:<%=(s.completion.to_i * 2)%>px"><%=spaces(2)%><%= s.completion%>% </div>
     </div>
 <%end%>