
<h3><%= survey.name%></h3>
(You can go back and update this survey at any time until <%=nice_date(survey.ends_on)%>.)<br><br>

<%form_tag submitanswers_project_path(@project) do %>
    <% survey.questions.each_with_index do |q, index|%>
        <b><%= q.content%></b> <br>
        <% if q.question_type == 2 %>
            <%= text_field :answer_hash, "#{q.answer.id}", :style => 'width:30px', :value => q.answer.content%><br><br>
        <% elsif q.question_type == 3 %>
            <%= text_area :answer_hash, "#{q.answer.id}", :rows => 3, :cols=> 80, :value => q.answer.content%><br><br>
        <% elsif q.question_type == 4 %>
            <%= text_area :answer_hash, "#{q.answer.id}", :rows => 7, :cols=> 80, :value => q.answer.content%><br><br>
        <% elsif q.question_type == 5 %>
            <%= text_area :answer_hash, "#{q.answer.id}", :rows => 17, :cols=> 80, :value => q.answer.content%><br><br>
        <% else%>
            <%= text_field :answer_hash, "#{q.answer.id}", :style => 'width:630px', :value => q.answer.content%><br><br>
        <%end%>
    <%end%>
    <%= submit_tag "Save" %>
<%end %>