
<h3 style="display:inline">  <%=h @survey.name %></h3>
 <%= spaces(4)%> <%=link_to image_tag("../images/icons/edit.gif"), edit_survey_path(@survey), :title => "Edit"%>
 <%= spaces(4)%> <%=link_to image_tag("../images/icons/delete.gif"), survey_path(@survey), :title => "Delete", 
 :confirm => 'Are you sure?', :method => :delete%>
<br><br>

<div class="survey_info">
  <% if @survey.project %>
    <%= link_to @survey.project.name, project_path(@survey.project)%><br>
  <%end%>
  <%=h nice_date(@survey.starts_on) %> - <%=h nice_date(@survey.ends_on) %><br> 
  <% if @survey.survey_files.count == 0%>
    0 attached files
  <%else%>
    <%= link_to  "#{@survey.survey_files.count} attached files", "#attached_files"%>
  <%end%>
  <br>
  <%= render :partial => 'completion_bar', :locals => {:s => @survey}%>
  <br>  <br>
  Download:<%= spaces(3)%>
  <%= link_to image_tag("icons/excel_icon.gif"), survey_path(@survey, :format => "csv"), :title => 'Download to Excel'%> <%= spaces(3)%>
  <%= link_to image_tag("icons/pdf_icon.gif"), survey_path(@survey, :format => "pdf"), :title => 'Download to PDF'%>
</div>
<br>

<hr>
<%@survey.questions.by_position.each do |q|%>
    <b><%=q.content%></b><br>
    
    <% if q.answer.content && !q.answer.content.blank?%>
      <div id="answer">
    <%else%>
      <div id="blank_answer">
    <%end%>
        <%= q.answer.content%>
    </div>
<%end%>

<%if !@survey.survey_files.empty?%>
    <hr>
    <a name="attached_files"></a>
    Attached Files: <br><br>
    <% @survey.survey_files.each do |sf|%>
        <%= link_to image_tag("/images/icons/folder.gif"), sf.document.url%><%=spaces(2)%>
        <%= link_to sf.document_file_name, sf.document.url%><%=spaces(2)%>
        <% if !sf.comment.nil? && !sf.comment.blank?%>    
            <br><%= sf.comment%>
        <%end%>
        <br><br>
    <%end%>
<%end%>

<%if current_user.admin?%>
    <p>
      <%= link_to "Edit", edit_survey_path(@survey) %> |
      <%= link_to "Delete", @survey, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "Back to Surveys", surveys_path %>
    </p>
<%end%>
