
<%= javascript_include_tag :ckeditor %>
<h3> SPDG Goals </h3>

<%= error_messages_for :goal %>
<%= form_for @goal do |f| %>

  <%= cktext_area_tag("goal[body]", "#{@goal.body}")%>
  <p><%= f.submit "Submit" %></p>
<% end %>
