<p class="fields">
  # <%= f.text_field :position, :class => "position", :style => "width:20px"%> 
  <%= f.select :question_type, Question::QUESTION_TYPES%>
  <%= link_to image_tag("/images/icons/help.png"), question_type_help_path, :popup => ['new_win', 'height=700,width=700,scrollbar="yes"']%>
  <%= link_to_remove_fields "Remove", f %><br />
  <%= f.text_area :content, :rows => 2, :cols => 90 %><br />
  <%= f.hidden_field :survey_template_id, :value => @next_id%>
  
</p>

