<% title "Survey Templates" %>

<h3> Survey Templates </h3>
<p><%= link_to "Add New Template", new_survey_template_path %></p>
<hr>

<% for st in @survey_templates %>
    <%= link_to st.name, edit_survey_template_path(st)%><br>
    <% if !st.description.nil?%>
        <%= st.description%><br>
    <%end%>
    
    <% if !st.user_id.nil?%>
        Created by: <%= st.user.profile.firstname.to_s%> <%= st.user.profile.lastname.to_s%><br>
    <%end%>
    <%= link_to "Remove", st, :confirm => 'Are you sure you want to remove this template?', :method => :delete %><br> 

    <br><hr>
<%end%>
