<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "SPDG Kansas") %></title>
    <!-- <%= stylesheet_link_tag 'application' %> -->

    <link rel="stylesheet" href="http://grant.spdgkansas.org/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="http://grant.spdgkansas.org/stylesheets/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="http://grant.spdgkansas.org/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
      <div class="span-4">
        sidebar
      </div>
      <div class="span-16">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
        
        <%= yield %>
      </div>
      <div class="span-4 last">
        sidebar
      </div>
      
      
    </div>
  </body>
</html>
