<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "SPDG Kansas") %></title>


    <link rel="stylesheet" href="<%=APP_CONFIG[:domain]%>/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="<%=APP_CONFIG[:domain]%>/stylesheets/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="<%=APP_CONFIG[:domain]%>stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <%= stylesheet_link_tag 'spdg' %>
    <%= javascript_include_tag "jquery", "application" %>
    <%= csrf_meta_tag %>

    <%= yield(:head) %>
  </head>
  <body>
    <div id="full_page">
    <div class="container">
      
      <div id="logo" class="span-4">
              <div class="logo-bottom">
                <%= link_to "Home", root_path %>
              </div>
        <div class="logo-top">
          <%= link_to image_tag("/images/spdg_logo_new.jpg"), root_path%>
        </div>
  
      </div>
      
      
      <div class="menu span-20 last">
        
        <div class="login">
          <%if logged_in?%>
            Logged in as <%=current_user.login%>
            <br>
            <%= link_to "Logout", logout_path%> | 
            <%if !current_user.profile.nil?%>
              <%= link_to "Account", profile_path(current_user.profile)%>
            <%else%>
              <%= link_to "Create Profile", new_profile_path %>
            <%end%>
            <br><br>
            Need some help? &nbsp;Try our <%= link_to "live chat", chat_path%>
          <%else%>
            
            <div id="login_form">
              <% form_tag session_path do -%>
                Username: &nbsp;
                <%= text_field_tag 'login', @login %>&nbsp;&nbsp;

                Password: &nbsp;
                <%= password_field_tag 'password', nil %>
                <br>
                Remember me
                <%= check_box_tag 'remember_me', '1', @remember_me %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= submit_tag 'Log in' %>
              <% end -%>
            </div>
              <div id="login_start">
                Registered Users: <%=spaces(3)%><button type="button" class="login_link">Log In</button><br>
                <%=link_to "Forgot Password?", forgot_password_path%>
              </div>
            
          <%end%>
        </div>
        
        <div class="left">
          <%= image_tag("/images/menu_left_edge.png")%>
        </div>
        <ul>
          <li class="span-3 <%if $menu_tab=='goals'%> current_tab <%end%>" onclick="location.href='<%=goals_path%>';">
            <%= link_to 'Goals', goals_path%>
          </li>
          <li class="span-3 <%if $menu_tab=='projects'%> current_tab <%end%>" onclick="location.href='<%= projects_path %>';">
            <%= link_to 'Projects', projects_path%>
          </li>
          
          <li class="span-3 <%if $menu_tab=='resources'%> current_tab <%end%>" onclick="location.href='<%= resources_path %>';">
            <%= link_to 'Resources', resources_path%>
          </li>
          
          <% if logged_in? && (!current_user.projects.empty? || current_user.admin?)%>
            <% if current_user.projects.empty? %>
              <!-- This is to let admins without a project have a My Home tab -->
              <%my_project = Project.first%>
            <% else %>
              <% if current_user.default_project%>
                <%my_project = Project.find(current_user.default_project)%>
              <%else%>
                <%my_project = current_user.projects.first%>
              <%end%>
            <% end %>
            <li class="span-3 <%if $menu_tab=='my home'%>current_tab<%end%>" onclick="location.href='<%= project_path(my_project) %>';">
              <%= link_to 'My Home', project_path(my_project)%>
            </li>
          <%end%>
          <% if logged_in? && current_user.admin?%>
            <li class="span-3 <%if $menu_tab=='admin'%>current_tab<%end%>" onclick="location.href='<%= admin_path %>';">
              <%= link_to 'Admin', admin_path%>
            </li>
          <%end%>
        </ul>
      </div>
      
      <div id="spacer" class="span-24">
      </div>
      
      
      <div id="content" class="<%if @sidebar%>span-16<%else%>span-22<%end%> prepend-1 append-1">
         
        <div class="slogan-top">
          	<i>&ldquo;Personnel Development to Improve Results</i>
        </div>
        <div class="slogan-bottom">
          <i>For Students with Disabilities in Kansas&rdquo;</i>
        </div>
        
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
        
        <%= yield %>
        
      </div>
      
      <%if @sidebar%>
        <%if logged_in?%>
          <div id="taskbar" class="span-5 last">
            Your Alerts:<br><br>
              <%= render "projects/alerts"%>
          </div>
        <%end%>
      <%end%>
    
    <div id="footer" class=" span-22 last">
        <br>
      	&copy; <%=Time.now.year%> Kansas State Personnel Development Grant <%= spaces(10)%> <br>
      	Question or Comment? <%=link_to "Contact Us", help_form_path, :popup => ['new_window_name', 'height=650,width=500']%>.
      	<br><br>
    </div>
  </div>
  </div>
  </body>
</html>
